<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
</head>
<body>
    <h1>Une Authentification est nécéssaire pour modifier la base de donnée des clients</h1>
    <a href="/users/login">Se connecter</a>
    <a href="/users/register">S'inscrire</a>
</body>
</html>