<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nouveau dossier pour <%= client.nom %></title>
  </head>
  <body>
    <h1>Ajouter un Dossier pour <%= client.nom %></h1>
    <form action="/dossiers" method="POST">
      <label for="num">Numéro du dossier: </label>
      <input type="number" name="num" id="num" placeholder="N°" />
      <label for="matFisc">sujet: </label>
      <input type="text" name="sujet" id="sujet" placeholder="sujet" />
      <label for="ref">Reférence: </label>
      <input type="text" name="ref" id="ref" placeholder="reférence" />
      <label for="prix">Prix: </label>
      <input type="number" name="prix" id="prix" placeholder="Prix" />
      <label for="client" hidden>Id du client</label>
      <input
        type="text"
        name="client"
        id="client"
        value="<%= client._id  %>"
        hidden
      />
      <button>Ajouter</button>
    </form>
    <a href="/dossiers/<%=client._id%>">Annuler</a>
  </body>
</html>
